{% include "header.html" %}


<div class="container">


	<div class="text-center" style='margin:30px auto'><h2>Once摄影工作室</h2></div>

	<!-- introduce tabs, refer to http://www.w3schools.com/bootstrap/bootstrap_tabs_pills.asp -->
	<!--<ul class="nav nav-tabs">-->
	<ul class="nav nav-pills nav-justified">
		<li class="active"><a data-toggle="tab" href="#company">公司简介</a></li>
		<li><a data-toggle="tab" href="#service">服务介绍</a></li>
		<li><a data-toggle="tab" href="#hr">人才招聘</a></li>
		<li><a data-toggle="tab" href="#questions">常见问题</a></li>
	</ul>

	<div class="tab-content" style='padding: 10px 200px 10px 200px'>
		<div id="company" class="tab-pane fade in active">
			<h3>企业全称</h3>
			<p><b>佛山市云思文化传播有限公司</b></p>
			<h3>工商执照注册号/统一社会信用代码</h3>
			<p>91440604MA4UQR1P8X</p>
			<h3>经营范围(一般经营范围)</h3>
			<p>文化艺术交流活动策划、摄影服务、电脑图文设计制作、婚庆礼仪服务。</p>
			<h3>经营范围(前置许可经营范围)</h3>
            <p>无</p>
			<h3>企业类型</h3>
			<p>有限责任公司（自然人投资或控股）</p>
			<h3>企业成立日期</h3>
			<p>2016年06月20日</p>
		</div>

		<div id="service" class="tab-pane fade">
			<h3>服务介绍</h3>
			<p>待定。</p>
			<h3>拍摄种类</h3>
			<p>待定。</p>
			<h3>价格范围</h3>
			<p>待定。</p>
			<h3>拍摄地址</h3>
			<p>待定。</p>
		</div>

		<div id="hr" class="tab-pane fade">
			<h3>合作化妆师</h3>
			<img alt="Brand" height="400px" src="/static/images/hr1.jpg">
			<p>能力：证照用心服务、婚礼跟妆搞笑、写真妆面细致</p>
			<p>态度：注重细节、追求品质、对客人负责、对作品负责</p>
		</div>

		<div id="questions" class="tab-pane fade">
			<h3>联系电话</h3>
			<p>微信客服人员: Pierre，服务电话: 18823299233。</p>
			<h3>经营业务范围？</h3>
			<p>包括婚庆、摄影等。</p>
			<h3>拍照预约流程？</h3>
			<p>通过微信预约，交付押金到，直接到现场即可。</p>
		</div>
	</div>


</div>

{% include "footer.html" %}