    <br/><br/>
    <hr/>

    <!-- footer, refer to http://bootsnipp.com/snippets/featured/e-commerce-footer-responsive-->
    <footer class="footer" id="footer">

      <div class="container">
        <div class="row">
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
            <h3>关于</h3>
            <ul>
              <li><a href="/about">公司简介</a></li>
              <li><a href="#">精选样片</a></li>
            </ul>
          </div>
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
            <h3>服务</h3>
            <ul>
              <li><a href="/appointment">立即预约</a></li>
              <li><a href="/getphoto">在线取相</a></li>
            </ul>
          </div>
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
            <h3>合作</h3>
            <ul>
              <li><a href="/about">人才招聘</a></li>
              <li><a href="/about">企业加盟</a></li>
            </ul>
          </div>
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
            <h3>帮助</h3>
            <ul>
              <li><a href="/about#questions">常见问题</a></li>
              <li><a href="#contact-us">联系我们</a></li>
            </ul>
          </div>

        </div>
        <!--/.row--> 
      </div>
      <!--/.container--> 

      <br/>
      <div style='margin:0px 0px auto auto' class="footer-copyright text-center rgba-black-light">
        <div class="container-fluid">
          <small>© 2016 Once摄影工作室 浙ICP备11062584号-3　<img width="10px" src="/static/images/chinese-police-logo.png"/>浙公网安备 33011802000662号 
          </small>
        </div>
      </div>
    </footer>
    <!-- end of footer -->

    <br>
    <br>

  </body>

  <script src="/static/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="/static/masonry/dist/masonry.pkgd.min.js"></script>
  <script>
    $(function(){
      
      var $waterfall = $('#waterfall');
      
      $waterfall.masonry({
        columnWidth: 230
      });
      
    });
  </script>
  
  <script type="text/javascript" src="/static/masonry/dist/masonry.pkgd.min.js"></script>   


<!-- 
<style>
#googleMap {
    width: 100%; /* Span the entire width of the screen */
    height: 400px; /* Set the height to 400 pixels */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); /* Change the color of the map to black and white * /
}
</style>
<div id="googleMap"></div>
-->

<!-- Add Google Maps 
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
var myCenter = new google.maps.LatLng(41.878114, -87.629798);

function initialize() {
var mapProp = {
center:myCenter,
zoom:12,
scrollwheel:false,
draggable:false,
mapTypeId:google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
position:myCenter,
});

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
-->

</html>