{% include "header.html" %}


<div class="container">

	<div class="text-center" style='margin:30px auto'><h2>在线取相</h2></div>

	<form method="post" action="{% url 'home:getphoto_result'%}" class="form-horizontal">

		{% csrf_token %}

			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
				<div class="col-sm-10">
					<input type="text" name="user_name" class="form-control" id="inputEmail3" placeholder="陈某">
				</div>
			</div>

			<div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">电话</label>
				<div class="col-sm-10">
					<input type="text" name="user_phone" class="form-control" id="inputPassword3" placeholder="159XXXXXXXX">
				</div>
			</div>

			<div class="form-group">
				<label for="inputPassword4" class="col-sm-2 control-label">获取码</label>
				<div class="col-sm-10">
					<input type="text" name="access_code" class="form-control" id="inputPassword4" placeholder="A82Xf89aXXXX">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">提取照片</button>
				</div>
			</div>


	</form>

</div>


{% include "footer.html" %}