{% include "header.html" %}


<div class="container">

	<!-- display if it get message -->
	{% if message %}

	{% if success %}

	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Success!</strong> {{ message }}
	</div>

	{% else %}

	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Error!</strong> {{ message }}
	</div>

	{% endif %}

	{% endif %}


	<div class="text-center" style='margin:30px auto'><h2>Once管理平台</h2></div>


	<h2>预约管理</h2>

	{% if appointments %}

	<!-- Table -->
	<table class="table table-striped table-hover table-condensed">

		<!-- On rows -->
		<th class="active">ID</th>
		<th class="success">姓名</th>
		<th class="warning">电话</th>
		<th class="danger">邮箱</th>
		<th class="info">摄影类型</th>
		<th class="active">摄影人数</th>
		<th class="success">预约时间</th>

		{% for appointment in appointments %}
		<!-- On cells (`td` or `th`) -->
		<tr>
			<td class="active">{{ appointment.id }}</td>
			<td class="success">{{ appointment.user_name }}</td>
			<td class="warning">{{ appointment.user_phone }}</td>
			<td class="danger">{{ appointment.user_email }}</td>
			<td class="info">{{ appointment.photo_type }}</td>
			<td class="active">{{ appointment.photo_people_number }}</td>
			<td class="success">{{ appointment.appointment_date }} {{ appointment.appointment_time }}</td>
		</tr>

		{% endfor %}

		{% else %}
		<p>No appointments are available.</p>
		{% endif %}

	</table>


	<hr/>
	<h2>用户照片管理</h2>

	<!-- form to upload file -->
	<form enctype="multipart/form-data" action="" method="post" class="form-inline">
		{% csrf_token %}
		<div class="form-group">
			<label for="exampleInputName2">姓名</label>
			<input type="text" name="user_name" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
		</div>
		<div class="form-group">
			<label for="exampleInputName2">电话</label>
			<input type="text" name="user_phone" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
		</div>
		<div class="form-group">
			<label for="exampleInputName2">访问码</label>
			<input type="text" name="access_code" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
		</div>

		<div class="form-group">
			<table>
				{{ form.as_table }}
			</table>
		</div>

		<button type="submit" class="btn btn-default">Upload file</button>
	</form>
	<!-- end of upload file form -->

	<br />
	{% if user_photos %}

	<!-- Table -->
	<table class="table table-striped table-hover table-condensed">

		<!-- On rows -->
		<th class="active">ID</th>
		<th class="success">姓名</th>
		<th class="warning">电话</th>
		<th class="danger">访问码</th>
		<th class="info">照片名</th>

		{% for user_photo in user_photos %}
		<!-- On cells (`td` or `th`) -->
		<tr>
			<td class="active">{{ user_photo.id }}</td>
			<td class="success">{{ user_photo.user_name }}</td>
			<td class="warning">{{ user_photo.user_phone }}</td>
			<td class="danger">{{ user_photo.access_code }}</td>
			<td class="info">{{ user_photo.photo_name }}</td>
		</tr>

		{% endfor %}

		{% else %}
		<p>No appointments are available.</p>
		{% endif %}

	</table>

	
	<hr/>
	<h2>数据库管理</h2>
	<p>登录登出，添加管理员，修改数据库请访问<a href="/admin"> /admin </a>。</p>


</div>


{% include "footer.html" %}