{% include "header.html" %}


<div class="container">


  <div class="text-center" style='margin:30px auto'><h2>精选样片</h2></div>


</div> <!-- end of container -->

<!-- water fall images, refer to http://www.js-css.cn/jscode/waterfall/waterfall8/ -->
<div id="main"> 
 <ul id="waterfall">

  <li>
   <div class="img_block"><img src="/static/photos/1.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/2.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/3.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/4.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/5.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/6.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/7.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/8.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/9.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/10.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/11.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/12.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/13.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/14.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/15.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/16.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/17.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/18.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/19.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/20.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/21.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/22.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>

 <li>
   <div class="img_block"><img src="/static/photos/23.jpg" /></div>
   <p><span class="label label-primary">证件照</span></p>
 </li>


</ul>

</div>


{% include "footer.html" %}