{% include "header.html" %}


<div class="container">


 <div class="text-center" style='margin:30px auto'><h2>精选样片</h2></div>


</div> <!-- end of container -->

<!-- water fall images, refer to http://www.js-css.cn/jscode/waterfall/waterfall8/ -->
<div id="main"> 
  <ul id="waterfall">

    <li>
      <div class="img_block"><img src="/static/public_photos/1.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/2.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/3.jpg" /></div>
      <p><span class="label label-primary">写真</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/4.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/5.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/6.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/7.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/8.jpg" /></div>
      <p><span class="label label-primary">静物拍摄</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/9.jpg" /></div>
      <p><span class="label label-primary">写真</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/10.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/11.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/12.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/13.jpg" /></div>
      <p><span class="label label-primary">静物拍摄</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/14.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/15.jpg" /></div>
      <p><span class="label label-primary">写真</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/16.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/17.jpg" /></div>
      <p><span class="label label-primary">写真</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/18.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/19.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/20.jpg" /></div>
      <p><span class="label label-primary">静物拍摄</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/21.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/22.jpg" /></div>
      <p><span class="label label-primary">写真</span></p>
   </li>

   <li>
      <div class="img_block"><img src="/static/public_photos/23.jpg" /></div>
      <p><span class="label label-primary">证件照</span></p>
   </li>


</ul>

</div>


{% include "footer.html" %}